.jumbotron.jumbotron-fluid {
    
    
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    /* height: 100% !important; */
    height: 100vh;
}

.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-header a {
    color: black
}

#mcform ul {
    list-style-type: none;
}

#sticky-footer {
    flex-shrink: none;
    position: fixed;
    bottom: 0;
    width: 100%;

    /* height: 60px; */
    /* line-height: 60px; */
  }


.card-deck {
    /* margin: */
}
