{% extends '_base.html' %}

{% block title%}About{% endblock title %}

{% block content %}

<h1>About Page</h1>
<br>
<p class="lead">We are Montgomery Blair Debate, a student-managed debate team from Maryland. We participate in the National Circuit in PF, and 
    we have had multiple TOC-qualifying teams. Our team captains for next year are Iris Gupta and Alex Jiang. Our supreme leader is Eli Qian, even
    though he eats oranges with the peel on. Thank you for checking us out!

    Images and other stuff will be added eventually so don't judge this page quite yet.
</p>

{% endblock content %}
