{% extends '_base.html' %}

{% block title%}Tournament List{% endblock title %}

{% block content %}

<div class="card text-center">
   <div class="card-header">
     <ul class="nav nav-tabs card-header-tabs">
       <li class="nav-item">
         <a class="nav-link active" href="#">Active</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Disabled</a>
       </li>
     </ul>
   </div>
   <div class="card-body">
     <h5 class="card-title">Registration Has Begun!</h5>
     <p class="card-text">You can register by filling the form, or clicking the individual tournaments and register individually.</p>
     <a href="{% url 'fullregister' %}" class="btn btn-primary">Register</a>
     
   </div>
 </div>
 <br/>
     
{% for tournament in object_list %}

<div class="card">
   <div class="card-header">
       <span class="font-weight-bold"><a href="{% url 'detail' tournament.slug %}">{{ tournament.name }}</a></span> &middot;
       <span class="text-muted">{{ tournament.date }}</span>

   </div>

   <div class="card-body">
       <p>Registration fee: ${{ tournament.cost }}</p>

       
       <!-- Comments added here -->     
   </div>
   <!-- <div class="card-footer">
      <small><a href="{% url 'detail' tournament.slug %}">View details</a></small>
   </div> -->
</div>
<br />

{% endfor %}

{% endblock content %}
